.mat-mdc-card-title, .mat-mdc-card-content {
  color: white;
}

.content-style {
  display: flex;
  justify-content: space-around;
}

.mat-mdc-card-content:last-child {
  padding-top: 2rem;
}

.fs-18 {
  font-size: var(--mdc-typography-headline6-font-size, 18px);
}
