<h2 style="text-align: center;">Detalles del pokemon</h2>

<mat-card>
  <mat-card-header *ngIf="verifyPokemon()">
    <mat-card-title-group>
      <mat-card-title>{{ pokemonDetail.name | titlecase }}</mat-card-title>
      <mat-card-subtitle>Experiencia base: {{ pokemonDetail.base_experience }}</mat-card-subtitle>
      <img mat-card-xl-image style="padding-top: 2rem;" [src]="getImage(pokemonDetail)">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content *ngIf="verifyPokemon()" class="content-style">
    <div>
      <p>
        <label class="fs-18">Altura: </label> <label>{{ pokemonDetail.height }}</label>
      </p>
      <p>
        <label class="fs-18">Peso: </label> <label>{{ pokemonDetail.weight }}</label>
      </p>
      <p>
        <label class="fs-18">Orden: </label> <label>{{ pokemonDetail.order }}</label>
      </p>
    </div>
    <div>
      <p class="fs-18">Habilidades:</p>
      <li *ngFor="let ability of pokemonDetail.abilities">
        {{ ability.ability.name }}
      </li>
    </div>
    <div>
      <p class="fs-18">Tipos:</p>
      <li *ngFor="let type of pokemonDetail.types">
        {{ type.type.name }}
      </li>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="!verifyPokemon()">
    <p>Debe seleccionar un pokemon</p>
  </mat-card-content>

  <mat-card-footer *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
